@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f9f9f9;
}

html,
body {
  width: 100%;
  height: 100%;
}

.admin_dashboard {
  border-top: 1px solid #058B8C;
}

.admin-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
}

.admin-container .left {
  /* background-color: #f9f9f9; */
  background: rgb(5, 139, 140);
  background: linear-gradient(142deg, rgba(5, 139, 140, 1) 55px, rgba(255, 255, 255, 1) 7%);
  display: flex;
  flex-direction: column;
  /* border-right: 2px solid #058B8C; */
}

.admin-container .left>* {
  border-right: 1px solid #058B8C;
}

.admin-container .left a {
  text-decoration: none;
}

.admin-container .left .option-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #058B8C;
  width: 100%;
  height: 80px;
}

.admin-container .left .option-box #selectOption {
  appearance: none;
  border: none;
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  padding: 15px 30px;
  border-bottom: 2px solid #058B8C;
  border-radius: 15px;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}

.admin-container .left .option-box #selectOption:hover {
  cursor: pointer;
  color: #058B8C;
  background-color: #f9f9f9;
  font-weight: 700;
}

.admin-container .left .option-box p {
  color: black;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}

.admin-container .left .option-box:hover {
  background-color: #058b8c;
}

.admin-container .left .option-box:hover p {
  color: #f9f9f9;
  font-size: 23px;
  font-weight: 700;
}

.admin-container .right {
  background-color: #F9F9F9;
  display: grid;
  grid-template-columns: 1fr;
}

.right .right_form {
  /* background-color: #F9F9F9; */
  background: rgb(5, 139, 140);
  background: linear-gradient(142deg, rgba(5, 139, 140, 1) 55px, rgba(255, 255, 255, 1) 7%);
  border-radius: 55px;
  border: 1px solid #058B8C;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.right .right_form p {
  text-align: center;
  color: #058B8C;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.right .right_form form .inputField input {
  /* width: 100%;
  border-bottom: 1px solid #058B8C;
  border-radius: 5px;
  margin: 10px 0; */
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  padding: 15px 30px;
  border-bottom: 2px solid #058B8C;
  border-radius: 15px;
}

.right .right_form form .inputField input:hover {
  cursor: pointer;
  color: #058B8C;
  font-weight: 700;
}

.right .createAdmin_container.right_form form label {
  font-size: 22px;
  color: green;
}

/* .right .right_form form .inputField input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #1f3c52;
  font-size: 15px;
} */

.right .right_form form .inputField select {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #1f3c52;
  font-size: 15px;
}


.right .right_form form .inputField {
  width: 100%;
  border-bottom: 1px solid #058B8C;
  border-radius: 5px;
  margin: 10px 0;
}

.right .right_form form .inputField input {
  width: 100%;
  border: none;
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 600;
  background: transparent;
  padding: 15px 30px;
  border-radius: 15px;
}

.right .right_form form .inputField input:hover {
  cursor: pointer;
  color: #058B8C;
  font-weight: 700;
}

.right .right_form .form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 18px;
  margin-top: 20px;
  text-decoration: none;
}

.right .right_form form button {
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 25px;
  background-color: #058B8C;
  color: #F9F9F9;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.right .right_form form button:hover {

  background-color: #F9F9F9;
  color: #058B8C;
  border: 1px dashed #058B8C;
  font-weight: 800;
}

/* Delete Post */
/* Basic table styles */
.delete_table table {
  width: 100%;
  border-collapse: collapse;
  /* TABLE BORDER */
}

.delete_table th,
.delete_table td {
  border: 1px dashed #058B8C;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

/* Table header styles */
.delete_table th {
  background-color: #058B8C;
  border: 1px solid #F9F9F9;
  color: #F9F9F9;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

/* Alternating row colors */
.delete_table tbody tr:last-child td {
  border: none;
}
.delete_table tbody tr:last-child {
  column-span: all;
}

/* Hover effect on WHOLE rows */
.delete_table tbody tr:hover {
  /* background-color: #f2f2f2; */
}

/* Hover effect on EACH CELL in a row */
.delete_table tbody tr td:hover {
  /* background-color: #f2f2f2; */
  background: rgb(5, 139, 140);
  background: linear-gradient(142deg, rgba(5, 140, 140, 0.543) 30%, rgba(255, 255, 255, 1) 45%);
}
  
.delete_table tbody tr td:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete_table tbody tr td button {
  /* background-color: #f2f2f2; */
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 25px;
  background-color: #F9F9F9;
  color: #058B8C;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.delete_table tbody tr td button:hover {
    color: #ffffff;
    background-color: #8d0f11;
    border: none;
}

.welcome_container {
  display: block;
}

.welcome_container .right_form {
  background: rgb(5, 139, 140);
  background: linear-gradient(142deg, rgba(255, 255, 255, 1) 15%, rgba(5, 139, 140, 1) 10%);
  width: 100%;
  height: 82.8%;
}

.welcome_container .right_form h3 {
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}